{{define "index"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Go HTTP Template</title>
    {{template "head"}}
</head>
<body>
    <div class="center-stage">
        <h1>Title</h1>
        <p>Paragraph</p>
    </div>
</body>
</html>
{{end}}
